$pink-red: #ff6d91;
$purple: #bea5ff;
$blue: #8cb4ff;
$light-blue: #0085f230;
$dark-cyan: #276bb0;
$green: #00d061;
$dark-green: #00d061;
$black: #2b2b2b;
$white: #eee;
$grey: #746d69;
$silver: #858585;
$light-black: #343434;