@font-face {
  font-family: DejaVuSerif;
  font-weight: normal;
  font-style: normal;
  src: url('/public/fonts/DejaVu/DejaVuSerif.ttf') format('truetype');
}

@font-face {
  font-family: DejaVuSerif;
  font-weight: bold;
  font-style: normal;
  src: url('/public/fonts/DejaVu/DejaVuSerif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: DejaVuSerif;
  font-weight: normal;
  font-style: italic;
  src: url('/public/fonts/DejaVu/DejaVuSerif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: DejaVuSerif;
  font-weight: bold;
  font-style: italic;
  src: url('/public/fonts/DejaVu/DejaVuSerif-BoldItalic.ttf') format('truetype');
}

*,
*::before,
*::after {
  font-family: 'DejaVuSerif', sans-serif;
  font-size: 16px;
}
