:root {
  --very-dark-violet: #311f53;
  --dark-violet: #402864;
  --violet: #693588;
  --light-violet: #a345b7;
  --very-light-violet: #c641d0;
  --very-very-light-violet: #f6cefc;

  --gray: #eee;
  --very-dark-neutral: #081b22;
  --dark-neutral: #1a2a37;
  --slightly-dark-neutral: #888888;
  --neutral: #e5eeed;
  --light-neutral: #fafafa;
  --very-light-neutral: #ffffff;

  --font-tiny: 8px;
  --font-very-small: 10px;
  --font-slightly-small: 12px;
  --font-small: 16px;
  --font-normal: 18px;
  --font-slightly-large: 20px;
  --font-large: 24px;
  --font-very-large: 36px;
  --font-huge: 45px;

  --image-tiny: 8px;
  --image-small: 10px;
  --image-very-small: 16px;
  --image-normal: 20px;
  --image-slightly-large: 24px;
  --image-large: 36px;
  --image-very-large: 45px;
  --image-huge: 100px;
}
